.nav-element,
footer p,
.lateral {
    color: #ccc !important;
}


header,
footer {
    background-color: #282828;
}


footer {
    padding-top: 15px;

}

main {
    padding-top: 15px;
    padding-bottom: 15px;
}

h3,
span.oferta {
    color: #8d0000;
}

.lateral {
    background-color: #8d0000;
    padding-right: 20px;
    margin-bottom: 10px;
}

.lateral p {
    padding-left: 20px;
    padding-top: 20px;
}

.post-img {
    width: 250px;
    height: 250px;
}

.products {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ccc;
}

.producto {
    margin-top: 10px;
    margin-bottom: 10px;
}

.links {
    margin-left: 50px;
    margin-top: 10px;
}
